<div class="container">
<h1>5 Star Restaurants <%= @restaurant.id %></h1>
<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<p>
<%= link_to "Show this restaurant", restaurant %>%
</p>
</div>
